name: Go CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Verify dependencies
      run: go mod verify

    - name: Run Gofmt
      run: if [ "$(gofmt -l . | wc -l)" -gt 0 ]; then exit 1; fi

    - name: Run Govet
      run: go vet ./...

    - name: Build
      run: go build -v -o main main.go